body, html {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
}

.container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.leftSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Headline{
    font-size: 140px;
    padding-bottom: 2%;
}

.subHeadline{
    font-size: 20px;
}

.calc {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 40vw; /* 40% of the viewport width */
    height: 50vw; /* 50% of the viewport height */
    border: 1.5px solid black;
    background-color: #0c0d0e;
    border-radius: 1%;
}

.top-section {
    display: flex;
    border-top-right-radius: 1.5%;
    border-top-left-radius: 1.5%;
    padding-bottom: 10px;
    padding-top:25px;
    flex: 30%;
    background-color: #fafafa; /* Example color */
    justify-content:right;
    align-items: top;
    padding-right: 50px;
    text-align: right;
    font-size: 85px;
}


.bottom-section {
    flex: 70%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
    font-family: 'Quicksand', sans-serif;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
}

.row {
    display: flex;
    flex: 1;
}

button {
    flex:1;
    font-size: 40px;
    color:azure;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

.buttonPurple{
    background-color: #5f4bb7;
}

.buttonYellow#equals{
    background-color: #fec208;
    border-bottom-right-radius: 5%;
}

#zero{
    border-bottom-left-radius: 5%;
}
  
.buttonDark {
    background-color: #1e2326;
    background-size: auto 150%;
    background-position: 0 100%; 
    &:hover {background-position: 0 50%;}
    
    &:active {
      color: #DCDCDC;
      background-position: 0 50%;
      background: #333333;
      box-shadow: inset 0 2px 3px rgba(black, .5), 0 1px 1px rgba(white, .1);
      
    .icon:before {
        color: #111;
        text-shadow: 0 1px rgba(white, .1);
      }
    }
    
}


.footer{
    display: flex;
    margin-top: auto;
    flex-shrink: 5; 
    background-color: #DCDCDC;
    align-items: center;
    justify-content: center;
}

.footer-text{
    font-size: 30px;
}